.about-wrapper {
    display: flex;
    align-items: center;
    color: $heading-color;
    @include mobile {
        display: block;
    }
}
.about-image {
    width: 180px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 50%;
    overflow: hidden;
    @include mobile {
        margin: 20px auto 0;
    }
}
.about-content {
    padding-left: 30px;
    > p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    @include mobile {
        margin: 20px auto 0;
    }
}