.main-content {
    margin-top: 12px;
    @include tablet {
        padding-bottom: 70px;
    }
}
section {
    border-top: 1px solid;
    padding: 20px 0;
    &.no-border {
        border-top: 0;
        padding: 0;
    }
}