.footer-mobile {
    position: fixed;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 8px 17px 2px #222;
    display: none;
    padding: 10px 0;
    z-index: 999;
    @include tablet {
        display: flex;
    }
}
footer.minimal-footer {
    background-color: $primary-color;
    color: white;
    text-align: center;
    padding: 1.5rem;
    margin-top: 2rem;
}
.footer-branding {
    font-weight: 500;
    font-size: 14px;
    margin: 0;
}