.site-header {
    display: flex;
    border-bottom: 1px solid #222;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    background-color: $background-color;
    position: sticky;
    top: 0;
    z-index: 900;
    > .logo-large {
        > a {
            display: block;
            width: 150px;
            outline: none;
        }
    }
    > .logo-small {
        display: none;
        > a {
            display: block;
            width: 100px;
            height: 100px;
        }
    }
    > .header-links {
        font-weight: 700;
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        > li {
            margin-right: 20px;
            > a {
                color: $heading-color;
                margin: 0;
                letter-spacing: 0.5px;
                &:hover {
                    color: $accent-color;
                    border-bottom: 2px solid $accent-color;
                    text-decoration: none;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .social-wrap {
        @include tablet {
            display: none;
        }
    }
}