.site-header {
    display: flex;
    border-bottom: 1px solid #222;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    background-color: #fff;
    position: sticky;
    top: 0;
    > .logo-large {
        > a {
            display: block;
            width: 150px;
        }
    }
    > .logo-small {
        display: none;
        > a {
            display: block;
            width: 100px;
            height: 100px;
        }
    }
    > .blog-link {
        font-weight: 700;
        > a {
            color: #222;
            margin: 0;
            &:hover {
                color: red;
                text-decoration: none;
            }
        }
    }
    .social-wrap {
        @include tablet {
            display: none;
        }
    }
}