section.hero {
    text-align: center;
    padding: 3rem 1rem;
    background: url("/assets/piano-classes/piano-bg.png") no-repeat center center;
    background-size: cover;
    background-color: #f0f0f0;
    background-color: rgba(255,255,255,0.75);
    background-blend-mode: lighten;
    padding: 3rem 1rem;
    h2 {
        font-size: 2rem;
    }
    p {
        font-size: 1.2rem;
        max-width: 600px;
        margin: 1rem auto;
    }
}

section.book-call {
    text-align: center;
}

.piano-class-section {
    padding: 2rem 1rem;
    background-color: #f9f9f9;
    border-radius: 8px;
    .cta-button {
        padding: 1rem 2rem;
        background-color: #d62828;
        color: white;
        border: none;
        border-radius: 8px;
        font-size: 1rem;
        cursor: pointer;
        margin-top: 1.5rem;
        display: inline-block;
        &:hover {
            text-decoration: none;
            background-color: red;
        }
        &:visited {
            color: white;
        }
    }
    h3 {
        font-size: 1.8rem;
        margin-bottom: 1rem;
    }
    
    ul {
        list-style: disc;
        padding-left: 2rem;
    }
}
