.navigation-icon-path {
    fill: $heading-color;
}
.updates-list-wrapper {
    position: relative;
    overflow: hidden;
}
.updates-switcher {
    position: relative;
}
.updates-switcher-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 200;
    cursor: pointer;
    height: 100%;
    background-repeat: no-repeat;
    border: none;
    background-color: $background-color;
    background-position: center;
    background-size: 32px;
    width: 30px;
    &:hover {
        background-color: $background-color-light;
        .navigation-icon-path {
            fill: $accent-color;
        }
    }
    &.left {
        left: 0;
    }
    &.right {
        right: 0;
    }
    @include tablet {
        background-color: white;
    }
}
.updates-list {
    clear: both;
    float: left;
    overflow: hidden;
    margin: 0;
    position: relative;
    transition-property: left;
    transition-duration: 0.5s;
    left: 0;
    > li {
        position: relative;
        width: 100vw;
        float: left;
        a {
            display: block;
            position: relative;
            z-index: 100;
            transition: transform 0.3s ease-in-out;
            > img {
                display: block;
            }
            &:hover {
                transform: scale(1.03);
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0, 128, 128, 0); /* Transparent by default */
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }
}
.updates-backdrop {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: grayscale(50%) blur(20px);
    background-size: contain;
    &::before {
        content: '';
        position: absolute;
        top: 0; bottom: 0;
        width: 20%;
        background-image: linear-gradient(to right, #F4F1DE, rgba(244, 241, 222, 0));
    }
    &::after {
        content: '';
        position: absolute;
        top: 0; bottom: 0;
        right: 0;
        width: 20%;
        background-image: linear-gradient(to left, #F4F1DE, rgba(244, 241, 222, 0));
    }
}
